<div id="homepage-container">
  <h2>Office Stats</h2>
  <div *ngIf="!loading && (playedSinglesGames.length > 0 || playedDoublesGames.length > 0)" class="stats-container">
    <div class="stat-container">
      <div class="primary-stat">
        <div class="stat">{{playedSinglesGames.length + playedDoublesGames.length}}</div> games played
      </div>
      <div class="secondary-stats">
        <div class="stat-secondary">{{playedSinglesGames.length}}</div> singles
        <div class="stat-secondary">{{playedDoublesGames.length}}</div> doubles
      </div>
    </div>
    <div class="stat-container">
      <div class="primary-stat">
        <div class="stat">{{singlesCoinsSank + doublesCoinsSank | number }}</div> coins sank
      </div>
      <div class="secondary-stats">
        <div class="stat-secondary">{{singlesCoinsSank}}</div> singles
        <div class="stat-secondary">{{doublesCoinsSank}}</div> doubles
      </div>
    </div>
    <div class="stat-container">
      <div class="primary-stat">
        <div *ngIf="totalAvgDiff" class="stat">{{totalAvgDiff | number: '1.1-2'}}</div>
        <div *ngIf="!totalAvgDiff" class="stat">--</div>
        average coin differential
      </div>
      <div class="secondary-stats">
        <div *ngIf="singlesAvgDiff" class="stat-secondary">{{singlesAvgDiff | number: '1.1-2'}}</div>
        <div *ngIf="!singlesAvgDiff" class="stat">--</div>
        singles
        <div *ngIf="doublesAvgDiff" class="stat-secondary">{{doublesAvgDiff | number: '1.1-2'}}</div>
        <div *ngIf="!doublesAvgDiff" class="stat">--</div>
        doubles
      </div>
    </div>
    <div class="stat-container">
      <div class="primary-stat">
        <div *ngIf="totalValidatorPct" class="stat">{{this.totalValidatorPct | percent}}</div>
        <div *ngIf="!totalValidatorPct" class="stat">--</div>
        queen validator win-rate
      </div>
      <div class="secondary-stats">
        <div *ngIf="singlesValidatorPct" class="stat-secondary">{{singlesValidatorPct | percent}}</div>
        <div *ngIf="!singlesValidatorPct" class="stat">--</div>
        singles
        <div *ngIf="doublesValidatorPct" class="stat-secondary">{{doublesValidatorPct | percent}}</div>
        <div *ngIf="!doublesValidatorPct" class="stat">--</div>
        doubles
      </div>
    </div>
    <div class="stat-container">
      <div class="primary-stat">
        <div *ngIf="totalCoinFlipPct" class="stat">{{totalCoinFlipPct | percent}}</div>
        <div *ngIf="!totalCoinFlipPct" class="stat">--</div>
        coin-flip winner win-rate
      </div>
      <div class="secondary-stats">
        <div *ngIf="singlesCoinFlipPct" class="stat-secondary">{{singlesCoinFlipPct | percent}}</div>
        <div *ngIf="!singlesCoinFlipPct" class="stat">--</div>
        singles
        <div *ngIf="doublesCoinFlipPct" class="stat-secondary">{{doublesCoinFlipPct | percent}}</div>
        <div *ngIf="!doublesCoinFlipPct" class="stat">--</div>
        doubles
      </div>
    </div>
  </div>
  <div *ngIf="noGamesPlayed" class="stats-container">
    Play some games to reveal stats.
  </div>
  <div *ngIf="loading" class="stats-container">
    <img class="loading-animation" src="../../../assets/images/gap-spinner-emerald.svg"/>
  </div>
</div>
