<div class="modal hidden" #playoffModal>
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Enter Playoff Result</h2>
      <span class="close" (click)="hideModal()">&times;</span>
    </div>
    <div class="modal-body">
        <div [ngClass]="{'hidden': currentGame === undefined}" id="game-result-form">
          <div class="choices">
            <div *ngIf="currentGame" class="playoff-choice-container">
              <h2>Winner</h2>
              <div class="choice-button-container">
                <div *ngIf="tournyType === 'singles'" (click)="setGameWinner(currentGame.player1Id, currentGame.player2Id)" [className]="currentGame.winner === currentGame.player1Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.player1Id)}}</div>
                <div *ngIf="tournyType === 'doubles'" (click)="setGameWinner(currentGame.team1Id, currentGame.team2Id)" [className]="currentGame.winner === currentGame.team1Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.team1Id)}}</div>
                <div *ngIf="tournyType === 'singles'" (click)="setGameWinner(currentGame.player2Id, currentGame.player1Id)" [className]="currentGame.winner === currentGame.player2Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.player2Id)}}</div>
                <div *ngIf="tournyType === 'doubles'" (click)="setGameWinner(currentGame.team2Id, currentGame.team1Id)" [className]="currentGame.winner === currentGame.team2Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.team2Id)}}</div>
              </div>
            </div>
            <div *ngIf="currentGame" class="playoff-choice-container">
              <h2>Validator</h2>
              <div class="choice-button-container">
                <div *ngIf="tournyType === 'singles'" (click)="setValidator(currentGame.player1Id)" [className]="currentGame.validator === currentGame.player1Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.player1Id)}}</div>
                <div *ngIf="tournyType === 'doubles'" (click)="setValidator(currentGame.team1Id)" [className]="currentGame.validator === currentGame.team1Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.team1Id)}}</div>
                <div *ngIf="tournyType === 'singles'" (click)="setValidator(currentGame.player2Id)" [className]="currentGame.validator === currentGame.player2Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.player2Id)}}</div>
                <div *ngIf="tournyType === 'doubles'" (click)="setValidator(currentGame.team2Id)" [className]="currentGame.validator === currentGame.team2Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.team2Id)}}</div>
              </div>
            </div>
            <div *ngIf="currentGame" class="playoff-choice-container">
              <h2>Coin Flip Winner</h2>
              <div class="choice-button-container">
                <div *ngIf="tournyType === 'singles'" (click)="setFlipWinner(currentGame.player1Id)" [className]="currentGame.coinFlipWinner === currentGame.player1Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.player1Id)}}</div>
                <div *ngIf="tournyType === 'doubles'" (click)="setFlipWinner(currentGame.team1Id)" [className]="currentGame.coinFlipWinner === currentGame.team1Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.team1Id)}}</div>
                <div *ngIf="tournyType === 'singles'" (click)="setFlipWinner(currentGame.player2Id)" [className]="currentGame.coinFlipWinner === currentGame.player2Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.player2Id)}}</div>
                <div *ngIf="tournyType === 'doubles'" (click)="setFlipWinner(currentGame.team2Id)" [className]="currentGame.coinFlipWinner === currentGame.team2Id ? 'choice selected' : 'choice'">{{convertToName(currentGame.team2Id)}}</div>
              </div>
            </div>
          </div>
          <h2>Differential (Including validation bonus)</h2>
          <div class="number-input-container">
          <span *ngIf="currentGame"  id="number-box">
            {{currentGame.differential}}
          </span>
            <div class="arrows">
              <div id="up-arrow">
                <svg class="svg-triangle-up" (click)="setGameDifferential('plus')">
                  <polygon points="0,0 100,0 100,100"/>
                </svg>
              </div>
              <div id="down-arrow">
                <svg class="svg-triangle-down" (click)="setGameDifferential('minus')">
                  <polygon points="0,0 100,0 100,100"/>
                </svg>
              </div>
            </div>
          </div>
          <button class='app-btn' (click)="submitGame()" #updateBtn>Update Game</button>
        </div>
    </div>
  </div>
</div>
<div class="playoff-header">
  <h2 *ngIf="tournament">Playoffs - {{tournament.name}}</h2>
  <div class="winner-container">
    <div class="winner-box">
      <img id="trophy" src="../../assets/images/trophy.svg"/>
      <span *ngIf="tournyType === 'singles' && tournament && tournament.winner && players">{{convertToName(tournament.winner)}}</span>
      <span *ngIf="tournyType === 'doubles' && tournament && tournament.winner && players && teams">{{convertToName(tournament.winner)}}</span>
      <span *ngIf="tournament && !tournament.winner">--</span>
    </div>
    <button *ngIf="tournament && !tournament.ended" (click)="endTournament()" [ngClass]="{'app-btn': true, 'disabled': !tournament.winner}">End Tournament</button>
  </div>
</div>
<div id="container" *ngIf="players">
  <svg id="bracket-svg"></svg>
  <div id="labels"></div>
</div>
