<!--<button *ngIf="!simulated" (click)="simulate()" class="app-btn">Sim Round (For Testing) »</button>!-->
<!-- The Modal -->
<div class="modal hidden" #roundModal>
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Advance Tournament</h2>
      <span class="close" (click)="hideModal()">&times;</span>
    </div>
    <div class="modal-body">
      <div class="advancers-container">
        <h3>I'd like to take the top</h3>
        <div class="number-input-container">
            <span id="number-box">
              {{numberToAdvance}}
            </span>
          <div class="arrows">
            <div id="up-arrow">
              <svg class="svg-triangle-up" (click)="setRoundAdvancements('plus')">
                <polygon points="0,0 100,0 100,100"/>
              </svg>
            </div>
            <div id="down-arrow">
              <svg class="svg-triangle-down" (click)="setRoundAdvancements('minus')">
                <polygon points="0,0 100,0 100,100"/>
              </svg>
            </div>
          </div>
        </div>
        <h3>players or teams from each pool.</h3>
      </div>
      <div class="extra-player-container">
        <h3>For pools with an extra player, I'd like to advance an extra player.</h3>
        <div class="choice-container">
          <div class="choice-button-container">
            <div (click)="changeExtraPlayerChoice()" [className]="this.extraPlayer ? 'choice selected' : 'choice'">Yes</div>
            <div (click)="changeExtraPlayerChoice()" [className]="this.extraPlayer ? 'choice' : 'choice selected'">No</div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="currentRound !== numberOfRounds" class="app-btn" (click)="startNextRound(false)">Advance</button>
      <button *ngIf="currentRound === numberOfRounds" class="app-btn" (click)="startNextRound(true)">Advance</button>
    </div>
  </div>
</div>
<h2>{{tournamentName}} - Round {{currentRound}}</h2>
<h3>Click on a pool to view details about it.</h3>
<button *ngIf="numberOfRounds > 1 && currentRound === 1" (click)="openModal()" [ngClass]="{'app-btn': true, 'disabled': allGamesPlayed === false}">Start Next Round</button>
<button *ngIf="currentRound === 2 || (currentRound === 1 && numberOfRounds === 1)" (click)="openModal()" [ngClass]="{'app-btn': true, 'disabled': allGamesPlayed === false}">Start Playoffs</button>
<div class='pools' *ngIf="!loading">
  <div *ngFor="let pool of recordPools">
    <h2>{{getLetter(recordPools.indexOf(pool))}}</h2>
    <table class='table table-dark pool-table' (click)="routeToPool(pool[0].poolId, getLetter(recordPools.indexOf(pool)))">
      <thead>
      <!--<th *ngIf="selecting"></th>-->
      <th id="player-name"></th>
      <th class="number-header">Wins</th>
      <th class="number-header">Losses</th>
      <th class="number-header">Coin +/-</th>
      </thead>
      <tbody>
      <tr *ngFor="let record of pool">
        <!--<td *ngIf="selecting"><input type="checkbox" (click)="addToPlayoffs(team)"/></td>-->
        <td *ngIf="record.playerId">{{convertToName(record.playerId)}}</td>
        <td *ngIf="record.teamId">{{convertToName(record.teamId)}}</td>
        <td>{{record.wins}}</td>
        <td>{{record.losses}}</td>
        <td>{{record.totalDiff}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="loading" class="loading-container">
  <img class="loading-animation" src="../../../assets/images/gap-spinner-emerald.svg"/>
</div>
