<!--<button *ngIf="disabled" (click)="simulate()" class="btn btn-primary btn-lg">Sim Tournament »</button>-->
<h2>{{tournamentName}} - Round {{currentRound}}</h2>
<h3>Click on a pool to view details about it.</h3>
<div class='pools' *ngIf="recordPools">
  <div *ngFor="let pool of recordPools">
    <h2>{{getLetter(recordPools.indexOf(pool))}}</h2>
    <table class='table table-dark pool-table' (click)="routeToPool(pool[0].poolId, getLetter(recordPools.indexOf(pool)))">
      <thead>
      <!--<th *ngIf="selecting"></th>-->
      <th id="player-name"></th>
      <th class="number-header">Wins</th>
      <th class="number-header">Losses</th>
      <th class="number-header">Coin +/-</th>
      </thead>
      <tbody>
      <tr *ngFor="let record of pool">
        <!--<td *ngIf="selecting"><input type="checkbox" (click)="addToPlayoffs(team)"/></td>-->
        <td *ngIf="record.playerId">{{convertToName(record.playerId)}}</td>
        <td *ngIf="record.teamId">{{convertToName(record.teamId)}}</td>
        <td>{{record.wins}}</td>
        <td>{{record.losses}}</td>
        <td>{{record.totalDiff}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
