<div>
    <button (click)="createTourny()" [ngClass]="{'disabled': isDisabled}" class="btn btn-success btn-xs">Next ⇢</button>
</div>
<div>
    <label>Tournament Name: </label>
    <input type="text" [(ngModel)]="tournamentName" />
</div>
<div>
    <label>Single or double round robin?</label>
    <div>
        <input id="checkbox1" type="radio" value="Single" name="winner" [(ngModel)]="robinType" /> Single
        <input id="checkbox2" type="radio" value="Double" name="winner" [(ngModel)]="robinType" /> Double
    </div>
</div>
<button (click)="addAll()" class="btn btn-warning btn-xs">+ Add All</button>
<div class="container-fluid">
    <div class="addPlayersList">
        <h3>Player Pool</h3>
        <ul class="list-group-flush">
            <li class="list-group-item" *ngFor="let player of playersToAdd">
                {{player.name}}       <button (click)="addPlayer(player)" class="btn btn-success btn-xs add-button">    add</button>
            </li>
        </ul>
    </div>
    <div class="addPlayersList">
        <h3>Current Roster: {{playersInTourny.size}} players</h3>
        <ul class="list-group-flush">
            <li class="list-group-item" *ngFor="let player of playersInTourny">{{player.name}}       <button (click)="removePlayer(player)" class="btn btn-danger btn-xs sub-button"    >remove</button></li>
        </ul>
    </div>
</div>