<div class='roster-page'>
  <form class="form-horizontal" (ngSubmit)="tournamentValidator()">
    <div class="tourny-create-top-section">
      <div class="tourny-create-header">
        <div>
          <input id="name" type="text" placeholder="My {{tournyType}} tournament" name="name" [(ngModel)]="tournamentName"/>
        </div>
        <div class='next-button'>
          <button type="submit" class="main-buttons create-button">Create</button>
        </div>
      </div>
      <div class='validation-notices'>
        <div *ngIf="errorPresent" id="exclamation">!</div>
        <div id="error" *ngIf="!nameBlank && nameForbidden">
          There is already a tournament with that name.
        </div>
        <div id="error" *ngIf="!nameBlank && nameFormatInvalid">
          Tournament name is invalid. Names can contain numbers, letters, and spaces.
        </div>
        <div id="error" *ngIf="tournyType === 'doubles' && rosterUneven">
          You must add an even number of players for a doubles tournament!
        </div>
        <div id="error" *ngIf="nameBlank">
          Tournament name cannot be blank.
        </div>
        <div id="error" *ngIf="rosterForbidden">
          Roster must be at least 2 players in size.
        </div>
      </div>
    </div>
    <div class="tournament-parameters">
      <div class="choice-container">
        <h2>Round Robin Type</h2>
        <div class="robin-container">
          <div (click)="changeRobinTypeSingle()" [className]="this.singleRoundRobin ? 'robin-choice-single selected' : 'robin-choice-single'">Single</div>
          <div (click)="changeRobinTypeDouble()" [className]="this.singleRoundRobin ? 'robin-choice-double' : 'robin-choice-double selected'">Double</div>
        </div>
      </div>
      <div class="choice-container">
        <h2>Number of Rounds</h2>
        <div class="round-container">
          <div (click)="changeRoundNumber()" [className]="this.oneRound ? 'round-choice-one selected' : 'round-choice-one'">One</div>
          <div (click)="changeRoundNumber()" [className]="this.oneRound ? 'round-choice-two' : 'round-choice-two selected'">Two</div>
        </div>
      </div>
    </div>
  </form>
  <div class="addPlayersList">
    <div class="player-list-table" [ngStyle]="{'height.px': (this.maxSize * 50) + 100}">
      <div class="player-pool-header">
        <h2>Player Pool</h2>
        <a *ngIf="this.playersToAdd.size > 0" href="/" (click)="addAll($event)" class="link">+ Add All Players</a>
      </div>
      <div class="player-card" (click)="addPlayer(player)" *ngFor="let player of playersToAdd">
        <td>
          {{player.name}}
        </td>
      </div>
    </div>
    <div [ngStyle]="{'height.px': (this.maxSize * 50) + 100}" class="player-list-table">
      <h2>Current Roster: {{playersInTourny.size}} players</h2>
      <div class="player-card" (click)="removePlayer(player)" *ngFor="let player of playersInTourny">
        <td>{{player.name}}</td>
      </div>
    </div>
  </div>
</div>
