<h2 class="tourny-list-header">Singles Tournaments</h2>
<table class='table table-dark app-table'>
  <thead>
  <tr>
    <th>Tournament Name</th>
    <th>Players</th>
    <th>Winner</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let tournament of singlesTournaments'>
    <td>{{tournament.name}}</td>
    <td>{{tournament.size}}</td>
    <td *ngIf="tournament.winner">{{tournament.winnerName}}</td>
    <td class='in-progress' *ngIf="!tournament.winner">In progress...</td>
    <td><a (click)='deleteTournament($event, tournament)' class="content-link">Delete</a></td>
    <td *ngIf="tournament.playoffsStarted"><a (click)='viewPlayoff($event, tournament)' class="content-link">View</a></td>
    <td *ngIf="!tournament.playoffsStarted"><a (click)='viewTournament($event, tournament)' class="content-link">View</a></td>
  </tr>
  </tbody>
</table>

<h2 class="tourny-list-header">Doubles Tournaments</h2>
<table class='table table-dark app-table'>
  <thead>
  <tr>
    <th>Tournament Name</th>
    <th>Teams</th>
    <th>Winner</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let tournament of doublesTournaments'>
    <td>{{tournament.name}}</td>
    <td>{{tournament.size}}</td>
    <td *ngIf="tournament.winner">{{tournament.winnerName}}</td>
    <td class='in-progress' *ngIf="!tournament.winner">In progress...</td>
    <td *ngIf="tournament.playoffsStarted"><a (click)='viewPlayoff($event, tournament)' class="content-link">View</a></td>
    <td *ngIf="!tournament.playoffsStarted"><a (click)='viewTournament($event, tournament)' class="content-link">View</a></td>
  </tr>
  </tbody>
</table>
