<h2 class="tourny-list-header">Tournaments</h2>
<table class='table table-dark app-table'>
  <thead>
  <tr>
    <th>Tournament Name</th>
    <th>Singles/Doubles</th>
    <th>Players</th>
    <th>Winner</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let tournament of tournaments'>
    <td>{{tournament.name}}</td>
    <td *ngIf='tournament.singles == true'>Singles</td>
    <td *ngIf='tournament.singles == false'>Doubles</td>
    <td>{{tournament.size}}</td>
    <td *ngIf="tournament.winner">{{tournament.winner}}</td>
    <td class='in-progress' *ngIf="!tournament.winner">In progress...</td>
    <td><a href="/" (click)='delete($event, tournament)' class='link'>Delete</a></td>
    <td *ngIf="tournament.playoffDefined"><a href="/" (click)='viewPlayoff($event, tournament.id)' class='link'>View</a></td>
    <td *ngIf="!tournament.playoffDefined"><a href="/" (click)='viewTournament($event, tournament)' class='link'>View</a></td>
  </tr>
  </tbody>
</table>
