<form (ngSubmit)="getPlayoffRoster()" #rosterForm="ngForm">
    <button *ngIf="!disabled && !playoffsBegan" type="submit" class="btn btn-primary btn-lg playoff-button">Begin Playoffs »</button>
</form>
<form *ngIf="playoffsBegan" (ngSubmit)="startPlayoffs()" #gameForm="ngForm">
        <h3 *ngIf="playoffsBegan">Select the players that advance to the playoffs!</h3>
        <h3 *ngIf="playoffsBegan">{{playoffPool.length}} players</h3>
        <button type="submit" class="btn btn-primary btn-lg playoff-button">Go!</button>
</form>


<button *ngIf="disabled" (click)="simulate()" class="btn btn-primary btn-lg">Sim Tournament »</button>
<h2>Pools</h2>
<div class='pools' *ngIf="idPools">
    <div class='pool-view' *ngFor="let pool of idPools">
        <h3>Pool {{getLetter(idPools.indexOf(pool))}}</h3>
        <table class='table'>
            <thead>
                <th></th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Coin +/-</th>
            </thead>
            <tbody>
                <tr *ngFor="let team of pool">
                    <td *ngIf="playoffsBegan"><input type="checkbox" (click)="addToPlayoffs(team)"/></td>
                    <td>{{convertToName(team)}}</td>
                    <td>{{findWins(team)}}</td>
                    <td>{{findLosses(team)}}</td>
                    <td>{{findDifferential(team)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <h2>Games To Play</h2>
    <div *ngIf="isDisabled()" class='tourny-table'>
        <table class='table'>
            <thead>
                <th>Games</th>
                <th><input #filter type="text" id="gameFilter" (keyup)="filterGames(filter.value)" placeholder="Search for games..." /></th>
            </thead>
            <tbody  *ngFor="let game of gamesToDisplay">
                <tr *ngIf="!game.winner">
                    <td>{{convertToName(game.team1)}} vs. {{convertToName(game.team2)}} </td>
                    <td>
                        <button (click)="viewGame(game)" class="btn btn-primary btn-xs">Enter Result</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="playoff-prompt" *ngIf="!disabled">All games have been played! Start the playoffs!</p>
