<form (ngSubmit)="getPlayoffRoster()" #rosterForm="ngForm">
    <button *ngIf="!disabled && !playoffsBegan" type="submit" class="main-buttons create-button">Begin Playoffs »</button>
</form>
<div class='validation-notices'>
    <div id="error" *ngIf="rosterInvalid" class="alert alert-danger">
            You must advance at least 2 players or teams to the playoffs.
    </div>
</div>
<form *ngIf="selecting" (ngSubmit)="playoffValidation()" #gameForm="ngForm">
        <h3>Select the players that advance to the playoffs!</h3>
        <h3>{{playoffPool.length}} players</h3>
        <button type="submit" class="main-buttons create-button">Go!</button>
</form>


<!--<button *ngIf="disabled" (click)="simulate()" class="btn btn-primary btn-lg">Sim Tournament »</button>-->
<h2>Pools</h2>
<h3>Click on a pool to view details about it.</h3>
<div class='pools' *ngIf="idPools">
    <div *ngFor="let pool of idPools">
        <h2>{{getLetter(idPools.indexOf(pool))}}</h2>
        <table class='table table-dark pool-table'>
            <thead>
                <th *ngIf="selecting"></th>
                <th id="player-name"></th>
                <th class="number-header">Wins</th>
                <th class="number-header">Losses</th>
                <th class="number-header">Coin +/-</th>
            </thead>
            <tbody>
                <tr *ngFor="let team of pool">
                    <td *ngIf="selecting"><input type="checkbox" (click)="addToPlayoffs(team)"/></td>
                    <td>{{convertToName(team)}}</td>
                    <td>{{findWins(team)}}</td>
                    <td>{{findLosses(team)}}</td>
                    <td>{{findDifferential(team)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
