<form (ngSubmit)="getPlayoffRoster()" #rosterForm="ngForm">
    <button *ngIf="!disabled && !playoffsBegan" type="submit" class="main-buttons create-button">Begin Playoffs »</button>
</form>
<div class='validation-notices'>
    <div id="error" *ngIf="rosterInvalid" class="alert alert-danger">
            You must advance at least 2 players or teams to the playoffs.
    </div>
</div>
<form *ngIf="selecting" (ngSubmit)="playoffValidation()" #gameForm="ngForm">
        <h3>Select the players that advance to the playoffs!</h3>
        <h3>{{playoffPool.length}} players</h3>
        <button type="submit" class="main-buttons create-button">Go!</button>
</form>


<!--<button *ngIf="disabled" (click)="simulate()" class="btn btn-primary btn-lg">Sim Tournament »</button>-->
<h2>Pools</h2>
<div class='pools' *ngIf="idPools">
    <div *ngFor="let pool of idPools">
        <h3>Pool {{getLetter(idPools.indexOf(pool))}}</h3>
        <table class='table table-dark pool-table pool-view'>
            <thead>
                <th *ngIf="selecting"></th>
                <th id="player-name"></th>
                <th class="number-header">Wins</th>
                <th class="number-header">Losses</th>
                <th class="number-header">Coin +/-</th>
            </thead>
            <tbody>
                <tr *ngFor="let team of pool">
                    <td *ngIf="selecting"><input type="checkbox" (click)="addToPlayoffs(team)"/></td>
                    <td>{{convertToName(team)}}</td>
                    <td>{{findWins(team)}}</td>
                    <td>{{findLosses(team)}}</td>
                    <td>{{findDifferential(team)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="tourny-results-container">
    <div class="unplayed-table">
        <h2>Games To Play</h2>
        <div class='tourny-table'>
            <table class='table table-dark'>
                <thead>
                    <th>Games</th>
                    <th><input #unplayedfilter type="text" class="gameFilter" (keyup)="filterGames(unplayedfilter.value, 'unplayed')" placeholder="Search for games..." /></th>
                </thead>
                <tbody >
                    <tr *ngFor="let game of unplayedGames">
                        <td>{{convertToName(game.team1)}} vs. {{convertToName(game.team2)}} </td>
                        <td>
                            <button (click)="viewGame(game)" class="btn btn-primary btn-xs">Enter Result</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="played-table">
        <h2>Played Games</h2>
        <div class='tourny-table'>
            <table class='table table-dark tourny-table'>
                <thead>
                    <th>Games</th>
                    <th><input #playedfilter type="text" class="gameFilter" (keyup)="filterGames(playedfilter.value, 'played')" placeholder="Search for games..." /></th>
                </thead>
                <tbody >
                    <tr *ngFor="let game of playedGames">
                        <td>{{convertToName(game.team1)}} vs. {{convertToName(game.team2)}} </td>
                        <td><label id="winner">Winner: </label> {{convertToName(game.winner)}} +{{game.differential}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
