<div class='validation-notices'>    
    <div id="error" *ngIf="nameBlank" class="alert alert-danger">
        You must give a name.
    </div>
    <div id="error" *ngIf="nameTaken" class="alert alert-danger">
        This player has already been added.
    </div>
    <div id="error" *ngIf="nameInvalid" class="alert alert-danger">
        Player name or nickname is invalid. Valid names/nicknames can have letters, numbers, and spaces.
    </div>
</div>
<form class='add-player' (ngSubmit)="validatePlayer()" #playerForm="ngForm">
    <label>Full Name:</label>
    <input type="text" name="name" [(ngModel)]="newPlayerName" />
    <label>Nickname (optional):</label>
    <input type="text" name="nickname" [(ngModel)]="newPlayerNickname" />
    <div>
        <input class='btn btn-primary' type="submit" value="Add this player"/>
    </div>
</form>
