<div *ngIf="nameBlank" class="alert alert-danger">
    You must give a name.
</div>
<div *ngIf="nameTaken" class="alert alert-danger">
    This player has already been added.
</div>
<div *ngIf="nameInvalid" class="alert alert-danger">
        Player name or nickname is invalid. Valid names/nicknames can have letters, numbers, and spaces.
    </div>
<div class="container-fluid">
    <form (ngSubmit)="validatePlayer()" #playerForm="ngForm">
        <p>Full Name:</p>
        <input type="text" name="name" [(ngModel)]="newPlayerName" />
        <p>Nickname (optional):</p>
        <input type="text" name="nickname" [(ngModel)]="newPlayerNickname" />
        <div>
            <input type="submit" value="Add this player"/>
        </div>
    </form>
</div>