<div class='validation-notices'>    
    <div id="error" *ngIf="nameBlank" class="alert alert-danger">
        You must give a name.
    </div>
    <div id="error" *ngIf="nameTaken" class="alert alert-danger">
        This player has already been added.
    </div>
    <div id="error" *ngIf="nameInvalid" class="alert alert-danger">
        Player name or nickname is invalid. Valid names/nicknames can have letters, numbers, and spaces.
    </div>
</div>
<form id="add-player-form" (ngSubmit)="validatePlayer()" #playerForm="ngForm">
  <div class="add-player-form-content">
    <h2>Full Name:</h2>
    <input type="text" name="name" [(ngModel)]="newPlayerName" />
    <h2>Nickname (optional):</h2>
    <input type="text" name="nickname" [(ngModel)]="newPlayerNickname" />
    <div>
        <input class='app-btn' type="submit" value="Add this player"/>
    </div>
  </div>
</form>
