<div class='panel panel-primary'>
   
    <div class='panel-body'>
        <div class='create-buttons'>
            <button class='btn btn-primary' [routerLink]="['/players/add']">Add a player</button>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Elo</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let player of players'>
                        <td>{{player.name}}</td>
                        <td>{{player.elo}}</td>
                        <td>{{player.wins}}</td>
                        <td>{{player.losses}}</td>
                        <td><button (click)='delete(player)' id='list-button' class='btn btn-danger btn-xs'>Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>