<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class='navbar navbar-lg navbar-dark bg-dark app-navbar'>
    <div class="navbar-content">
      <a href="" class='navbar-brand app-title'>{{ title }}</a>
      <ul class='nav navbar-nav navbar-expand'>
        <li class='nav-links'>
          <a class='link' [routerLink]="['/players']">Players</a>
        </li>
        <li class='nav-links'>
          <a class='link' [routerLink]="['/tournaments']">Tournaments</a>
        </li>
      </ul>
      <span class="create-buttons">
        <button class='main-buttons create-button' [routerLink]="['/tournament/singles/new']">+ Create A Singles Tournament</button>
        <button class='main-buttons create-button' [routerLink]="['/tournament/doubles/new']">+ Create A Doubles Tournament</button>
      </span>
    </div>
    <div class="thank-you">
      <p> To Anteil - thank you for a great first internship. </p>
      <p>Your intern, now and forever,</p>
      <p id="sig">Alec</p>
    </div>
  </nav>
</div>
<div class='page-content'>
    <router-outlet></router-outlet>
</div>


