<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class='navbar navbar-lg navbar-dark bg-dark app-navbar'>
    <div class="navbar-content">
        <button id="hamburger" (click)="toggleHamburgerMenu()" class="hamburger hamburger--collapse" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      <div id="mobile-menu" class="mobile-menu hidden">
        <div class='mobile-links'>
          <div class="nav-item dropdown">
            <a class="nav-link-mobile dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tournaments
              <img class="icon icon-bracket" src="../assets/images/bracket_icon_emerald.svg"/>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="navigateAndCollapse('/tournaments')">View Tournaments</a>
              <a class="dropdown-item" (click)="navigateAndCollapse('/tournament/singles/new')">New Singles Tournament
                <img class="icon icon-singles" src="../assets/images/singles_logo.svg"/></a>

              <a class="dropdown-item" (click)="navigateAndCollapse('/tournament/doubles/new')">New Doubles Tournament
                <img class="icon icon-doubles" src="../assets/images/doubles_logo.svg"/></a>
            </div>
          </div>
          <div class='nav-item'>
            <a class='nav-link-mobile' (click)="navigateAndCollapse('/players')">Players
              <img class="icon icon-players" src="../assets/images/players.svg"/>
            </a>
          </div>
          <div class='nav-item'>
            <a class='nav-link-mobile' (click)="navigateAndCollapse('/stats')">Stats
              <img class="icon icon-stats" src="../assets/images/stats_logo_2.svg"/>
            </a>
          </div>
        </div>
      </div>
      <div class="app-logo">
        <img class="striker" src="../assets/images/striker.svg"/>
        <a class='navbar-brand app-title'>{{ title }}</a>
      </div>
      <ul class='nav navbar-nav navbar-expand desktop-links'>
        <li class="nav-item dropdown nav-links">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tournaments
            <img class="icon icon-bracket" src="../assets/images/bracket_icon_emerald.svg"/>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/tournaments']">View Tournaments</a>
            <a class="dropdown-item" [routerLink]="['/tournament/singles/new']">New Singles Tournament
              <img class="icon icon-singles" src="../assets/images/singles_logo.svg"/></a>

            <a class="dropdown-item" [routerLink]="['/tournament/doubles/new']">New Doubles Tournament
              <img class="icon icon-doubles" src="../assets/images/doubles_logo.svg"/></a>
          </div>
        </li>
        <li class='nav-item nav-links'>
          <a class='nav-link' [routerLink]="['/players']">Players
            <img class="icon icon-players" src="../assets/images/players.svg"/>
          </a>
        </li>
        <li class='nav-item nav-links'>
          <a class='nav-link' [routerLink]="['/stats']">Stats
            <img class="icon icon-stats" src="../assets/images/stats_logo_2.svg"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id='page-content'>
  <router-outlet></router-outlet>
</div>


