<div class="container-fluid">
        <div class='validation-notices'>
            <div id="error" *ngIf="teamsBlank" class="alert alert-danger">
                You must select a winner.
            </div>
            <div id="error" *ngIf="scoreInvalid" class="alert alert-danger">
                The coin differential must be a number between 1 and 8 inclusive.
            </div>
            <div id="error" *ngIf="scoreBlank" class="alert alert-danger">
                The coin differential cannot be blank.
            </div>
        </div>
        <form class='add-player' (ngSubmit)="validateGame()" #gameForm="ngForm">
            <h3 id="who-won">Who Won?</h3>
            <div class="radio-container first">
                <input type="radio" value="team1" name="winner" [(ngModel)]="winningTeam" /> <label>{{firstTeam}}</label>
                <span class="radio-button"></span>
            </div>
            <div class="radio-container second">
                <input type="radio" value="team2" name="winner" [(ngModel)]="winningTeam" /> <label>{{secondTeam}}</label>
                <span class="radio-button"></span>
            </div>
            <div>
                <h3 id="score-diff">Score Differential: </h3>
                <input class="diff-input" type="number" min="1" max="8" name="differential" [(ngModel)]="scoreDifferential"/>
            </div>
            <div>
                <input class='btn btn-primary' type="submit" value="Enter Result"/>
            </div>
        </form>
    </div>