<div class="container-fluid">
        <form (ngSubmit)="onSubmit()" #gameForm="ngForm">
            <p>Who Won?</p>
            <div>
            <input id="checkbox1" type="radio" value="team1" name="winner" [(ngModel)]="winningTeam" /> {{firstTeam}}
            <input id="checkbox2" type="radio" value="team2" name="winner" [(ngModel)]="winningTeam" /> {{secondTeam}}
            </div>
            <div>
                <p>Score Differential: </p>
                <input type="number" min="1" max="8" name="differential" [(ngModel)]="scoreDifferential"/>
            </div>
            <div>
                <input type="submit" value="Enter Result"/>
            </div>
        </form>
    </div>