<div *ngIf="teamsBlank" class="alert alert-danger">
    You must select a winner and a loser.
</div>
<div *ngIf="scoreInvalid" class="alert alert-danger">
    The coin differential must be a number between 1 and 8 inclusive.
</div>
<div *ngIf="scoreBlank" class="alert alert-danger">
    The coin differential cannot be blank.
</div>
<div *ngIf="playoffPool" class='vs-container'>
    <form (ngSubmit)="validateGame()" #playoffForm="ngForm">
        <label>Winner:</label>
        <select name="winner" [(ngModel)]="winningPlayer">
            <option *ngFor="let team of playoffPool">{{convertToName(team)}}</option>
        </select>
        <p> vs. </p>
        <label>Loser:</label>
        <select name="loser" [(ngModel)]="losingPlayer">
            <option *ngFor="let team of playoffPool">{{convertToName(team)}}</option>
        </select>
        <div>
            <p>Score Differential: </p>
            <input type="number" min="1" max="8" name="differential" [(ngModel)]="scoreDifferential"/>
        </div>
        <div>
            <input type="submit" value="Enter Result"/>
        </div>
    </form>
</div>