/* You can add global styles to this file, and also import other style files */

html {
}

h2 {
    font-size: 30px;
    padding: 25px;
}

#list-button {
    font-size: 11px;
    border: none;
}

.btn {
    font-size: 12px;
}

.flex-container p {
    margin: 0;
    padding: 3px;
}

input {
    
}

.create-buttons {
    padding: 3%;
}

.bracket-box {
    
    width: 200px;
    margin: 30px;
    font-size: 11px;
    border: 1px solid black;
}

.bracket-box-play-in {
    
    width: 200px;
    margin: 30px;
    font-size: 11px;
    border: 1px solid black;
}

.empty-div {
    width: 200px;
    margin: 60px;
   
}

label {
    font-size: 25px;
    padding: 10px;
}

.next-button {
    padding: 25px;
    text-align: right;
}

.add-all-button {
    margin-left: 20%;
    text-align: left;
}

.next-button button {
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.players-table {
    max-height: 350px;
    border: 1px solid black;
    padding: 10px;
}

.flex-column-play-in {
    margin: 20px;
    padding: 20px;
}

.empty-slot {
    height: 15px;
}

.bracket-box-double-play-in {
    width: 200px;
    margin: 7px;
    font-size: 10px;
    border: 1px solid black;
}

.bracket-box-winner {
    padding: 5px;
    border: 1px solid black;
    width: 200px;
    height: 80px;
    box-shadow: 3px 0px 3px 2px rgba(255, 215, 0.2);
    
}

.play-in-line {
    stroke-width: 2px;
    stroke: orange;
}
.button-warning {
    font-size: 10px;
    color: red;
    padding: 5px;
}

svg {
    width: 90px;
    height: 55px;
    padding: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


.pools {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.addPlayersList {
    width: 30%;
    display: inline-table;
}

text {
    font-size: 12px;
}

div {
    padding: 5px;
}

.pool-view {
    font-size: 0.7em;
    min-width: 20%;
}

.tourny-table {
    font-size: 13px;
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
    margin-bottom: 10%;
}

h3 {
    font-size: 16px;
}

@keyframes pulse {
    from {background-color: blue; 
            border: 2px solid lightblue;
         }
    to {background-color: lightblue;
            border: 2px solid lightblue; }
}

.playoff-button {
    animation: pulse 1s infinite;
    animation-direction: alternate;
}

tr {
    height: 50px;
}

td {
    white-space: nowrap !important;
    padding: 10px;
}

.playoff-prompt {
    color: rgb(24, 177, 24);
    font-weight: bold;
}


.add-button {
    font-size: 9px;
}

.sub-button {
    font-size: 9px;
    
}