/* You can add global styles to this file, and also import other style files */

html, body {
    margin-bottom: 3%;
    text-align: center;
    background-image: url("assets/images/purty_wood.png");
    background-color: rgba(155, 150, 150, 0.2) !important;
    background-blend-mode: color;
}

.app-title {
    color: white;
    font-size: 25px;
}

.nav-links {
    margin: 0px 20px 0px;
}

.link {
    color: gold;
}

.link:hover {
    color: darkgray;
    text-decoration: none;
}

h2 {
    font-size: 30px;
    padding: 20px;
}

.winner {
    color: rgb(236, 208, 49);
    font-size: 60px;

}

.page-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.winner-image {
    width: 480px;
    height: 270px;
}

.winner-subheader {
    font-size: 30px;
    color: rgb(194, 168, 24);
}

#list-button {
    font-size: 11px;
    border: none;
}

.btn {
    font-size: 12px;
}

.flex-container p {
    margin: 0;
    padding: 3px;
}

input {
    
}

.playoff-games-table {
    font-weight: bold;
    width: 100%;
}

.create-buttons {
    opacity: 0;
    -webkit-animation: slide_in 0.7s;
    -moz-animation: slide_in 0.7s;
    animation: slide_in 0.7s;
    animation-fill-mode: forwards;
    padding: 2%;
}

.bracket-box {
    text-align: left;
    background-color: #343a40;
    min-height: 70px;
    width: 180px;
    margin: 30px;
    font-size: 11px;
    border: 1px solid black;
}

.bracket-box-play-in {
    text-align: left;
    background-color: #343a40;
    min-height: 70px;
    width: 180px;
    margin: 10px 30px 10px;
    font-size: 11px;
    border: 1px solid black;
}

.empty-div {
    width: 200px;
    margin: 60px;
   
}

label {
    font-size: 25px;
    padding: 10px;
}

.add-player h3 {
    text-align: left;
}

.add-player input {
    margin: 10px;
}

.pool-table {
    border: 2px solid gold;
    border-radius: 3px;
}

#error {
    font-size: 11px;
    margin: 0px 5px 0px;
}

.validation-notices {
    display: flex;
    text-align: center;
    justify-content: center;
}

.next-button {
    padding: 15px;
}

button {
    border: 1px solid black !important;
}

.next-button button {
    width: 120px;
    height: 40px;
    font-size: 15px;
}

.app-navbar {
    box-shadow: -3px 4px 10px 2px rgb(71, 71, 71);
    border: 1px solid rgb(247, 211, 6);
    border-radius: 5px;
}

.app-table {
    box-shadow: -3px 4px 10px 2px rgb(71, 71, 71);
    width: 1000px;
    border: 1px solid gold;
    border-radius: 3px;
    opacity: 0;
    -webkit-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
    animation: fadein 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.roster-list {
    border: 1px solid green;
    border-radius: 3px;
}

.players-table {
    opacity: 0;
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    animation: fadein 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    max-height: 350px;
    
}

.flex-column-play-in {
    margin: 20px;
    padding: 20px;
}

.empty-slot {
    width: 60px;
    height: 15px;
}

.notice-container {
    display: flex;
    justify-content: center;
}

#notice {
    color: green;
    width: 200px;
    font-size: 11px;
    background-color: rgb(213, 241, 213);
}

.in-progress {
    color: lightgray;
    font-style: italic;
}

.bracket-box-winner {
    color: white;
    background-color: #343a40;
    border: 1px solid black;
    font-size: 11px;
    width: 150px;
    height: auto;
    border: 2px solid gold;
    
}

img#trophy {
    filter: invert(100%);
    filter: hue-rotate(120); 
}

.play-in-line {
    stroke-width: 2px;
    stroke: orange;
}
.button-warning {
    font-size: 10px;
    color: red;
    padding: 5px;
}

.striker {
    transform: translate(30px, 420px);
    animation: strike 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.coin {
    
    transform: translate(220px, 263.25px);
    animation: struck 1s ease-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.coin2 {
    transform: translate(-70px, 40px);
}

.coin3 {
    transform: translate(630px, 140px);
}

.coin4 {
    transform: translate(289px, 374px);
}

.coin5 {
    transform: translate(81px, 620px);
}

.coin6 {
    transform: translate(645px, 550px);
}

.nice-shot {
    font-family: Georgia, cursive;
    text-shadow: -3px 3px 6px rgb(71, 71, 71);
    transform: translate(80px, 300px);
    font-size: 120px;
    font-style: italic;
    font-variant: small-caps;
    animation: fadesharpen 4s;
    animation-delay: 4s;
    animation-fill-mode: both;
}

.player-list-header {
    margin: 0;
    padding: 0;
    text-align: left;
    animation: fadein 2s;
    animation-fill-mode: backwards;
    animation-play-state: initial;
    animation-delay: 0.5s;
}

.player-list-subheader {
    margin-bottom: 20px;
    text-align: left;
    animation: fadein 2s;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

@keyframes strike {
    0% {
      transform: translate(30px, 420px);
    }
    100% {
      transform: translate(330px, 172.5px);
    }
  }

  @keyframes struck {
    0% {
      transform: translate(220px, 263.25px);
    }
    23% {
      transform: translate(220px, 263.25px);
    }
    100% {
        transform: translate(730px,-157.5px);
    }
  }


.winner-container {
    background-color: #343a40;
    border: 1px solid gold;
    border-radius: 6px;
    width: 100%;
    box-shadow: -3px 4px 10px 2px rgb(71, 71, 71);
}

.flex-container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.result-winner {
    color: green;
}

.result-loser {
    color: red;
}

.results-table tr {
    border-top: 1px solid gray;
}

.results-table {
    font-size: 12px;
    background-color: rgb(236, 235, 235);
    border: 1px solid black;
    box-shadow: -3px 4px 10px 2px rgb(71, 71, 71);
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.empty-slot {
    height: 28px;
    margin: 0;
    padding: 0;
}

.bracket-box p{
    color: white;
    display: flex;
    justify-content: space-between;
}

.bracket-box-play-in p{
    color: white;
    display: flex;
    justify-content: space-between;
}


hr {
    
    margin: 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
}


.pools {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.addPlayersList {
    width: 400px;
    display: inline-table;
}

text {
    font-size: 12px;
}

div {
    padding: 5px;
}

.pool-view {
    font-size: 0.7em;
    min-width: 20%;
}

.tourny-list-table {
    opacity: 0;
    -webkit-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
    animation: fadein 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    box-shadow: -3px 4px 10px 2px rgb(71, 71, 71);
}

.players-table td {
    width: 300px;
}

.tourny-table {
    opacity: 0;
    -webkit-animation: fadein 0.7s;
    -moz-animation: fadein 0.7s;
    animation: fadein 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    font-size: 13px;
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
    margin-bottom: 10%;
}

h3 {
    font-size: 16px;
}

.vs-container {
    display: flex;
    justify-content: space-evenly;
}

.vs-container p {
    font-size: 25px;
}

@keyframes pulse {
    from {background-color: blue; }
    to {background-color: rgb(60, 168, 204);}
}

@keyframes fadesharpen {
    from { opacity: 0;
            filter: blur(50px); 
            letter-spacing: 5px;}
    to {opacity: 1; 
        filter: blur(0px);
        letter-spacing: 15px;}
}

@keyframes fadein {
    from { opacity: 0; }
    to {opacity: 1; }
}

@keyframes slide_in {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.playoff-button {
    margin: 0px 40px 0px;
    animation: pulse 0.8s infinite;
    animation-direction: alternate;
}

tr {
    height: 50px;
}

td {
    padding: 10px;
}

.playoff-prompt {
    color: rgb(19, 134, 19);
    font-weight: bold;
}

#advance-button {
    height: 20px;
}


.add-button {
    font-size: 9px;
}

.sub-button {
    font-size: 9px;
    
}